#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color-text-in-primary);
}

#page-landing .header-container {
  max-width: 1100px;
}

#page-landing .header-container .logo-container {
  display: none;
}

#page-landing .header-container .logo-container img {
  height: 10rem;
}

#page-landing .header-container .hero-image {
  width: 100%;
}

#page-landing-content {
  display: flex;
  flex-direction: column;

  width: 100%;
}

#page-landing-content .welcome-messege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 9rem;

  color: var(--color-text-base);
}

#page-landing-content .welcome-messege h3 {
  font: 500 1.8rem Poppins;
}

#page-landing-content .welcome-messege h4 {
  font: 700 1.8rem Poppins;
}

#page-landing-content .buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

#page-landing-content .buttons-container a {
  width: 18rem;
  height: 18rem;
  border-radius: 0.8rem;
  font: 700 2.0rem Archivo;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

#page-landing-content .buttons-container a:first-child {
  margin-right: 1.6rem;
}

#page-landing-content .buttons-container a img {
  width: 4rem;
}

#page-landing-content .buttons-container a.study {
  background: var(--color-primary-lighter);
}

#page-landing-content .buttons-container a.give-classes {
  background: var(--color-secundary);
}

#page-landing-content .buttons-container a.study:hover {
  background: var(--color-primary-light);
}

#page-landing-content .buttons-container a.give-classes:hover {
  background: var(--color-secundary-dark);
}

#page-landing-content .total-connections {
  font-size: 1.4rem;
  color: var(--color-text-complement);

  display: flex;
  align-items: center;
  justify-content: center;
}

#page-landing-content .total-connections img {
  margin-left: 0.8rem;
}

@media(min-width: 1100px) {
  #page-landing .header-container {
    height: 100%;
    max-height: 27rem;
    display: flex;
  }

  #page-landing .header-container .logo-container {
    display: block;
    text-align: center;
    margin-bottom: 3.2rem;

    align-self: center;
    text-align: left;
    margin: 0;
  }

  #page-landing .header-container .logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
  }

  #page-landing .header-container .logo-container h2 {
    text-align: initial;
    font-size: 3.6rem;
  }

  #page-landing .header-container .logo-container img {
    height: 100%;
  }

  #page-landing .header-container .hero-image {
    justify-self: end;
  }

  #page-landing-content {
    max-width: 1100px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "welcome-messege total buttons buttons"
    ;

  }

  #page-landing-content .welcome-messege {
    grid-area: welcome-messege;
    margin: 0;

    align-items: flex-start;
  }

  #page-landing-content .buttons-container {
    grid-area: buttons;
    justify-content: flex-start;
  }

  #page-landing-content .buttons-container a {
    width: 30rem;
    height: 10.4rem;
    font-size: 2.4rem;
    padding: 0;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #page-landing-content .buttons-container a img {
    margin-right: 2.4rem;
  }

  #page-landing-content .total-connections {
    width: 80%;
    grid-area: total;
    justify-self: center;
  }

  #page-landing-content .total-connections span {
    text-align: center;
  }
}